@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Poppins:wght@100;300;400&display=swap");

html,
body {
  --color-bg-toggle: #ececec;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;

  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

body[data-theme="light"] {
  --color-text-primary: #1f1f1f;
  --color-text-secondary: #ececec;
  --color-bg-primary: white;
  --color-bg-progress-bar: rgba(31, 31, 31, 0.2);
  --color-bg-progress: rgb(31, 31, 31);
  --color-bg-feature-card: #1f1f1f;
}
body[data-theme="dark"] {
  --color-text-primary: #ececec;
  --color-text-secondary: #1f1f1f;
  --color-bg-primary: #1f1f1f;
  --color-bg-progress-bar: rgba(250, 250, 250, 0.2);
  --color-bg-progress: rgb(250, 250, 250);
  --color-bg-feature-card: #ececec;
}
body::-webkit-scrollbar {
  display: none;
}

.layout {
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
