.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 15px 10px 15px;
  height: 94px;
  background-color: var(--color-bg-primary);
  transition: background-color 0.5s ease-in-out;
  position: static;
}

.header__hidden {
  top: -50%;
}

.left {
  width: 50%;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 1px;
}

.right {
  width: 50%;
  position: relative;
}
