.container {
  display: flex;
  justify-content: center;
}

.main {
  height: 80%;
  width: 70%;
  margin-top: 100px;
}

.h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.servicesHeader {
  padding: 0 10px;
  height: 450px;
  margin-bottom: 50px;

  background-image: url(../public/george-coletrain-JLEbZE1y3EA-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: flex-end;
}

.servicesHeader .p {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: "Courier Prime", monospace;
  font-size: 10px;
  align-self: self-end;
  padding: 0 5px;
  transition: all 0.5s ease-in-out;
}

.h2 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  background-color: var(--color-bg-primary);
  color: var(--color-bg-progress);
  transition: all 0.5s ease-in-out;
}

.serviceGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px 15px;
}

.gridItem {
  background-color: var(--color-bg-progress-bar);
  color: var(--color-bg-progress);

  padding: 0 10px;
  padding-top: 15px;
  border-radius: 4px;
}

.icon {
  width: 30px;
}
